.primary-color {
  color: #67B2EC;
}

.secondary-color {
  color: #4DA2E4;
}

.tertiary-color {
  color: #0D47A1;
}

.black {
  color: #000;
}

.semi-transparent-bg {
  background-color:rgba(0,0,0,0.05);
}

.social-icon {
  width:48px;
  height:48px;
  margin-left:8px;
  margin-right:8px;
  margin-top:-16px;
  text-align: center;
}
